In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
dataset = pd.read_csv('C:/Users/91949/Desktop/4 th year project/weblog.csv')
dataset.head()

,IP,Time,URL,Status
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [3]:
type('Time')

str

In [4]:
dataset.iloc[0:1,0]

0    10.128.2.1
Name: IP, dtype: object

In [5]:
df = dataset.iloc[:580,:]
df.head()

,IP,Time,URL,Status
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [6]:
df.shape

(580, 4)

In [7]:
def time_stats(dataframe):
    time_array = dataframe.iloc[:, 1].values
    max_time_diff = 0
    count = 0
    sum_time_diff = 0
    for i in range(1, len(time_array)):
        time1 = time_array[i]
        time2 = time_array[i-1]
        index1 = 0
        for char in time1:
            if(char==':'):
                break
            index1 = index1 +1
        time1 = time1[index1+1:]
        index2 = 0
        for char in time2:
            if(char==':'):
                break
            index2 = index2 + 1
        time2 = time2[index2+1:]
        dtime1 = datetime.datetime.strptime(time1, '%H:%M:%S')
        dtime2 = datetime.datetime.strptime(time2, '%H:%M:%S')
        diff = (dtime1 - dtime2).seconds
        sum_time_diff = sum_time_diff + diff
        count = count + 1
        
        if max_time_diff < diff:
            max_time_diff = diff
    
    mean_time_diff = 0
    if count!=0:
        mean_time_diff = sum_time_diff/count
    
    var_sum = 0
    for i in range(1, len(time_array)):
        time1 = time_array[i]
        time2 = time_array[i-1]
        index1 = 0
        for char in time1:
            if(char==':'):
                break
            index1 = index1 +1
        time1 = time1[index1+1:]
        index2 = 0
        for char in time2:
            if(char==':'):
                break
            index2 = index2 + 1
        time2 = time2[index2+1:]
        dtime1 = datetime.datetime.strptime(time1, '%H:%M:%S')
        dtime2 = datetime.datetime.strptime(time2, '%H:%M:%S')
        diff = (dtime1 - dtime2).seconds
        curvar = (mean_time_diff-diff)*(mean_time_diff-diff)
        var_sum = var_sum + curvar
    
    variance_time_diff = 0
    if count != 0:
        variance_time_diff = var_sum/count
    return max_time_diff, mean_time_diff, sum_time_diff, variance_time_diff

In [8]:
time_stats(df)

(23466, 95.58376511226253, 55343, 1112702.1497191428)

In [9]:
def most_frequent(List):  
    return max(set(List), key = List.count)

In [10]:
import re
import string
import nltk
import nltk.corpus
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [11]:
def bigram_stats(dataframe):
    url_array = dataframe.iloc[:,2].values
    full_string = ""
    for url in url_array:
        full_string = full_string + url
    full_string = full_string.lower()
    full_string = re.sub(r'\d+', '', full_string)
    table = str.maketrans('','',string.punctuation)
    full_string = full_string.translate(table)
    full_string = full_string.strip()
    full_string_tokens = word_tokenize(full_string)
    for char in full_string_tokens:
        if char == 'get':
            full_string_tokens.remove('get')
    for char in full_string_tokens:
        if char == 'httpget':
            full_string_tokens.remove('httpget')
    for char in full_string_tokens:
        if char == 'httppost':
            full_string_tokens.remove('httppost')
    for char in full_string_tokens:
        if char == 'post':
            full_string_tokens.remove('post')
    
    count_most_visited_page = 0
    
    if len(full_string_tokens)!=0:
        most_visited_page = most_frequent(full_string_tokens)
        count_most_visited_page = full_string_tokens.count(most_visited_page)
    #print(most_visited_page,count_most_visited_page)
    
    count_most_appearing_bigram = 0
    bigrams = list(nltk.bigrams(full_string_tokens))
    if len(bigrams)!=0:
        most_appearing_bigram = most_frequent(bigrams)
        count_most_appearing_bigram = bigrams.count(most_appearing_bigram)
    
    count_most_appearing_trigram = 0
    trigrams = list(nltk.trigrams(full_string_tokens))
    if len(trigrams)!=0:
        most_appearing_trigram = most_frequent(trigrams)
        count_most_appearing_trigram = trigrams.count(most_appearing_trigram)
    
    count_most_appearing_ngram = 0
    ngrams = list(nltk.ngrams(full_string_tokens, 6))
    if len(ngrams)!=0:
        most_appearing_ngram = most_frequent(ngrams)
        count_most_appearing_ngram = ngrams.count(most_appearing_ngram)
        
    return count_most_visited_page, count_most_appearing_bigram, count_most_appearing_trigram, count_most_appearing_ngram

In [12]:
bigram_stats(df)

(79, 27, 17, 5)

In [13]:
from collections import Counter

In [14]:
def most_visited_ip(dataframe):
    ip = dataframe.iloc[:,0].values
    x = Counter(ip)
    return x.most_common(1)[0][0]

In [15]:
most_visited_ip(df)

'10.131.2.1'

In [16]:
def most_freq_status(dataframe):
    status = dataframe.iloc[:,3].values
    x = Counter(status)
    return x.most_common(1)[0][0]

In [17]:
most_freq_status(df)

200

In [18]:
data = {'IP_Address':['10.128.2.1'], 'Time_Difference_Mean':[99], 'Time_Difference_Variance':[54], 'Time_Difference_Sum':[105], 'Time_Difference_Maximum':[15], 'Character-bigrams':[45], 'Character-trigrams':[34], 'Character-ngrams':[74], 'Count_of_most_visited_page':[14], 'Status':[200], 'Number_of_records':[40]}
work_dataset = pd.DataFrame(data)
work_dataset

,IP_Address,Time_Difference_Mean,Time_Difference_Variance,Time_Difference_Sum,Time_Difference_Maximum,Character-bigrams,Character-trigrams,Character-ngrams,Count_of_most_visited_page,Status,Number_of_records
0,10.128.2.1,99,54,105,15,45,34,74,14,200,40

In [19]:
startindex = 0
endindex = 0
prevdate = ""
p = 1
for i,row in dataset.iterrows():
    
    date = row['Time'][1:12]
    if i==0:
        prevdate = date
    else:
        if date == prevdate:
            endindex = endindex + 1
        else:
            data = dataset.iloc[startindex:endindex+1, :]
            max_time_diff, mean_time_diff, sum_time_diff, variance_time_diff = time_stats(data)
            #print(max_time_diff, mean_time_diff, sum_time_diff, variance_time_diff)
            count_most_visited_page, count_most_appearing_bigram, count_most_appearing_trigram, count_most_appearing_ngram = bigram_stats(data)
            #print(count_most_visited_page, count_most_appearing_bigram, count_most_appearing_trigram, count_most_appearing_ngram)
            most_vis_ip = most_visited_ip(data)
            most_frequent_status = most_freq_status(data)
            #print(most_vis_ip, most_frequent_status, end = ' ')
            #print()
            if most_vis_ip == None:
                most_vis_ip = '10.130.2.1'
            if most_frequent_status == None:
                most_frequent_status = 200
            work_dataset.loc[p]=[count_most_appearing_bigram, count_most_appearing_ngram, count_most_appearing_trigram, count_most_visited_page, most_vis_ip, endindex - startindex + 1, most_frequent_status, max_time_diff, mean_time_diff, sum_time_diff, variance_time_diff]
            startindex = endindex
            #endindex = endindex + 1
            prevdate = date
            p = p + 1
            #print(max_time_diff, mean_time_diff, sum_time_diff, variance_time_diff)

In [20]:
work_dataset

,IP_Address,Time_Difference_Mean,Time_Difference_Variance,Time_Difference_Sum,Time_Difference_Maximum,Character-bigrams,Character-trigrams,Character-ngrams,Count_of_most_visited_page,Status,Number_of_records
0,10.128.2.1,99,54,105,15,45,34,74,14.000000,200,4.000000e+01
1,27,5,17,79,10.131.2.1,580,200,23466,95.583765,55343,1.112702e+06
2,69,26,46,343,10.131.0.1,2991,200,86399,143.820401,430023,1.013628e+07
3,13,5,10,44,10.131.0.1,468,200,9569,189.541756,88516,8.867826e+05
4,16,4,10,32,10.130.2.1,168,200,12157,508.694611,84952,2.615859e+06
...,...,...,...,...,...,...,...,...,...,...,...
63,6,1,3,14,10.131.0.1,139,200,40719,799.347826,110310,2.461098e+07
64,5,2,3,11,10.131.0.1,98,200,26367,801.041237,77701,1.140965e+07
65,6,1,3,19,10.128.2.1,83,200,37698,1609.439024,131974,2.751322e+07
66,6,2,4,21,10.130.2.1,123,200,22220,602.032787,73448,8.091683e+06
67,3,1,3,5,10.130.2.1,31,200,4660,280.800000,8424,7.664556e+05

In [21]:
work_dataset = work_dataset.drop(work_dataset.index[0])
work_dataset = work_dataset.rename(columns={"IP_Address": "Time_Difference_Maximum","Time_Difference_Maximum": "IP_Address", }, errors="raise")

In [22]:
Ip_rep = np.array([])
for i,row in work_dataset.iterrows():
    ip = row[4]
    p = ip.split('.')
    p = p[0] + p[1] + p[2]
    #ip = ip.replace('.', '')
    a = int(p)
    Ip_rep = np.append(Ip_rep, a)
Ip_rep
work_dataset['IP_rep'] = Ip_rep

In [23]:
work_dataset.head()

,Time_Difference_Maximum,Time_Difference_Mean,Time_Difference_Variance,Time_Difference_Sum,IP_Address,Character-bigrams,Character-trigrams,Character-ngrams,Count_of_most_visited_page,Status,Number_of_records,IP_rep
1,27,5,17,79,10.131.2.1,580,200,23466,95.583765,55343,1.112702e+06,101312.0
2,69,26,46,343,10.131.0.1,2991,200,86399,143.820401,430023,1.013628e+07,101310.0
3,13,5,10,44,10.131.0.1,468,200,9569,189.541756,88516,8.867826e+05,101310.0
4,16,4,10,32,10.130.2.1,168,200,12157,508.694611,84952,2.615859e+06,101302.0
5,4,1,3,9,10.129.2.1,105,200,13917,619.836538,64463,5.431493e+06,101292.0

In [24]:
work_dataset.drop('IP_Address', axis=1, inplace=True)

In [25]:
X = work_dataset.iloc[:,:].values
X

array([[27, 5, 17, 79, 580, 200, 23466, 95.58376511226253, 55343,
        1112702.1497191428, 101312.0],
       [69, 26, 46, 343, 2991, 200, 86399, 143.82040133779265, 430023,
        10136284.73262742, 101310.0],
       [13, 5, 10, 44, 468, 200, 9569, 189.54175588865095, 88516,
        886782.6122821367, 101310.0],
       [16, 4, 10, 32, 168, 200, 12157, 508.6946107784431, 84952,
        2615859.445659568, 101302.0],
       [4, 1, 3, 9, 105, 200, 13917, 619.8365384615385, 64463,
        5431493.444434179, 101292.0],
       [1, 0, 0, 1, 1, 200, 0, 0.0, 0, 0.0, 101292.0],
       [11, 3, 9, 19, 53, 200, 17173, 1876.4038461538462, 97573,
        9804988.933062129, 101292.0],
       [12, 2, 8, 27, 118, 200, 8862, 815.6410256410256, 95430,
        3808647.8711374127, 101302.0],
       [8, 4, 7, 11, 32, 302, 25251, 2139.0967741935483, 66312,
        22341251.442247648, 101292.0],
       [6, 2, 4, 10, 143, 200, 44551, 756.0704225352113, 107362,
        18064886.1640547, 101310.0],
       [8, 4, 6, 22, 169, 200, 18868, 487.75, 81942, 5226538.223214285,
        101312.0],
       [10, 2, 8, 26, 115, 200, 15546, 696.8947368421053, 79446,
        5439478.936288091, 101292.0],
       [12, 1, 7, 21, 75, 200, 9947, 1287.0, 95238, 5411781.702702703,
        101310.0],
       [7, 3, 6, 15, 39, 200, 10311, 2074.9473684210525, 78848,
        8042375.734072022, 101302.0],
       [12, 1, 5, 27, 192, 200, 16835, 473.5497382198953, 90448,
        4237450.5511910245, 101312.0],
       [14, 1, 9, 27, 181, 200, 11529, 400.48333333333335, 72087,
        2059905.1386111064, 101312.0],
       [1, 0, 0, 1, 1, 200, 0, 0.0, 0, 0.0, 101282.0],
       [8, 2, 6, 15, 53, 200, 27071, 1845.5192307692307, 95967,
        17101299.480399407, 101282.0],
       [15, 2, 10, 27, 118, 200, 8862, 773.9145299145299, 90548,
        3787036.522609401, 101302.0],
       [6, 4, 5, 13, 32, 200, 7909, 1385.774193548387, 42959,
        4288803.916753382, 101292.0],
       [6, 2, 4, 10, 143, 200, 44551, 911.4225352112676, 129422,
        22050986.117238637, 101292.0],
       [6, 3, 5, 20, 169, 200, 18868, 513.202380952381, 86218,
        5453431.994756256, 101312.0],
       [11, 2, 7, 19, 115, 200, 15546, 702.5, 80085, 5458496.4605263155,
        101292.0],
       [18, 1, 11, 28, 75, 200, 9947, 1232.162162162162, 91180,
        5247018.730460194, 101302.0],
       [4, 2, 4, 11, 39, 200, 10311, 1347.3157894736842, 51198,
        5152568.058171747, 101302.0],
       [13, 3, 7, 31, 192, 200, 16835, 647.2460732984293, 123624,
        5251744.290233301, 101312.0],
       [14, 4, 9, 35, 300, 200, 11529, 286.628762541806, 85702,
        1360545.6849252195, 101292.0],
       [5, 1, 4, 12, 96, 200, 14495, 474.6842105263158, 45095,
        4240432.216066481, 101302.0],
       [6, 1, 4, 23, 164, 200, 39002, 837.2515337423313, 136472,
        17070187.660657223, 101282.0],
       [3, 1, 2, 9, 58, 200, 14135, 425.140350877193, 24233,
        3784573.804863036, 101302.0],
       [5, 1, 3, 11, 47, 200, 68278, 2236.0434782608695, 102858,
        103554817.25897923, 101282.0],
       [9, 1, 6, 16, 60, 200, 18715, 1793.5254237288136, 105818,
        20313512.588336695, 101310.0],
       [11, 5, 7, 55, 380, 200, 86288, 1181.2321899736148, 447687,
        82100589.94081074, 101292.0],
       [10, 6, 8, 18, 94, 200, 14708, 636.0215053763441, 59150,
        4044292.7092149374, 101310.0],
       [8, 6, 7, 23, 250, 200, 86172, 839.6867469879518, 209082,
        39257284.33560748, 101282.0],
       [8, 3, 4, 19, 179, 200, 27739, 452.35955056179773, 80520,
        6949827.084206525, 101292.0],
       [4, 2, 3, 7, 86, 200, 34375, 740.1058823529412, 62909,
        14779212.400553636, 101302.0],
       [11, 3, 6, 23, 133, 200, 15036, 677.0833333333334, 89375,
        4417959.909722229, 101302.0],
       [14, 4, 9, 37, 165, 200, 10474, 647.2439024390244, 106148,
        3523860.7088042796, 101310.0],
       [6, 3, 4, 17, 100, 200, 86398, 1518.949494949495, 150376,
        83164907.74492405, 101310.0],
       [16, 3, 9, 34, 155, 200, 14665, 665.461038961039, 102481,
        5088931.767962554, 101310.0],
       [14, 3, 10, 24, 92, 200, 14210, 974.4725274725274, 88677,
        5293328.754739762, 101310.0],
       [8, 3, 6, 23, 178, 200, 86399, 983.6723163841808, 174110,
        49524013.31635226, 101302.0],
       [2, 1, 2, 5, 55, 200, 50315, 1092.0925925925926, 58973,
        47006455.67661176, 101310.0],
       [6, 4, 5, 17, 98, 200, 14879, 796.0927835051547, 77221,
        5448394.434690194, 101310.0],
       [13, 1, 9, 18, 72, 200, 75525, 1564.4507042253522, 111076,
        87286522.1912318, 101310.0],
       [4, 1, 3, 5, 11, 200, 69, 8.2, 82, 416.15999999999997, 101302.0],
       [6, 2, 5, 10, 43, 200, 73988, 2333.3333333333335, 98000,
        138002429.84126988, 101310.0],
       [5, 3, 4, 8, 76, 200, 78277, 1683.44, 126258, 93523120.88639997,
        101302.0],
       [3, 1, 1, 6, 29, 200, 3956, 166.21428571428572, 4654,
        541161.5255102039, 101310.0],
       [3, 1, 2, 9, 63, 200, 59229, 3102.483870967742, 192354,
        129029786.60457847, 101282.0],
       [1330, 344, 671, 2002, 5092, 200, 86399, 22.738165389903752,
        115760, 1516626.2742043606, 101282.0],
       [8, 2, 5, 10, 20, 302, 1, 0.2631578947368421, 5,
        0.19390581717451527, 101302.0],
       [15, 10, 13, 17, 33, 200, 1, 0.34375, 11, 0.2255859375, 101302.0],
       [3, 1, 3, 11, 65, 200, 41639, 3547.859375, 227063,
        79696755.83959961, 101282.0],
       [2, 2, 2, 8, 34, 200, 6745, 858.3333333333334, 28325,
        4122529.4949494936, 101302.0],
       [2, 1, 1, 3, 31, 200, 71149, 2853.9666666666667, 85619,
        166129320.1655556, 101282.0],
       [4, 1, 2, 13, 62, 200, 61372, 2091.1311475409834, 127559,
        71849308.47460358, 101282.0],
       [6, 3, 5, 18, 110, 200, 45410, 977.743119266055, 106574,
        23963250.31933341, 101282.0],
       [10, 3, 5, 31, 231, 200, 36978, 404.4869565217391, 93032,
        6982314.528090722, 101282.0],
       [8, 3, 5, 24, 127, 200, 19044, 755.6904761904761, 95217,
        9697000.48356007, 101282.0],
       [2, 1, 1, 2, 15, 200, 23765, 1725.5714285714287, 24158,
        37374355.3877551, 101302.0],
       [6, 1, 3, 14, 139, 200, 40719, 799.3478260869565, 110310,
        24610977.139886618, 101310.0],
       [5, 2, 3, 11, 98, 200, 26367, 801.0412371134021, 77701,
        11409645.23541291, 101310.0],
       [6, 1, 3, 19, 83, 200, 37698, 1609.439024390244, 131974,
        27513223.95359906, 101282.0],
       [6, 2, 4, 21, 123, 200, 22220, 602.0327868852459, 73448,
        8091683.326793871, 101302.0],
       [3, 1, 3, 5, 31, 200, 4660, 280.8, 8424, 766455.5599999999,
        101302.0]], dtype=object)